* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: rgb(32, 145, 113);
    width: 55%;
    height: 80vh;
    position: absolute;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;



}

.bg-color-image {
    background-color: rgb(23, 37, 69);
    width: 200px;
    height: 200px;
    border-radius: 50%;


}

.img {

    width: 200px;
    height: 210px;
    margin: -7px 3px -3px 0px;
    border-radius: 50%;

}

.img-icon .las {
    font-size: 35px;
    color: white;


}


.bootstrap {
    font-size: 70px;
    color: white;
    text-align: center;
}

.hr {
    display: flex;
    justify-content: center;
    margin: 30px 0px;

}

.xett {
    width: 15%;
    color: white;
    margin: 23px 25px;

}

.star {
    color: white;
    font-size: 40px;
}

.text {
    color: white;
    font-size: 26px;
    text-align: center;
}